/*--- Шрифти ---*/
@font-face {
    font-family: "Molle", cursive;
    src: url('fonts/Molle-Regular.ttf') format('truetype');
}

p {    
    color: rgba(233, 233, 233, 1);
    font-family: Jersey 25;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}


/*--- Тіло ---*/
body {
    background: rgba(156, 154, 145, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    /*gap: 25px;*/
    padding: 0 3% 5% 3%;
    margin: 0;
}

/*.header, .volume-radio, .song-control {
    padding-bottom: 1%;
}*/

/*--- Екрани ---*/
.screen {
    border-radius: 20px;
    box-shadow: 0px -2px 2px 0px rgba(232, 232, 232, 0.25),inset 0px 5px 7px 0px rgba(0, 0, 0, 0.25),inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background: rgba(63, 63, 63, 1);
}

/*--- Верхні кнопки ---*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.theme-buttons {
    display: flex;
    flex-direction: row;
}

.header-button {
    background: rgba(63, 62, 57, 1);
    width: 80px;
    height: 90px;
    display: flex;
    box-shadow: 4px -4px 10px 0px rgb(0 0 0 / 40%), inset 0px 2px 20px 0px rgb(255 255 255 / 25%), inset 0px -2px 5px 0px rgb(0 0 0 / 25%), inset 0px -10px 20px 6px rgb(0 0 0 / 20%), -4px -4px 10px 0px rgb(0 0 0 / 40%);
    align-items: center;
    justify-content: center;
}

/*--- Звук і Станція ---*/
.volume-radio, .song-control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vr-info {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

/* екран звуку */
.vr-info .screen {
    width: 155px;
    height: 34px;
    padding: 23px 20px;
}

 /* шрифт */
.screen p {
    color: rgba(172, 201, 148, 0.7);
    font-family: Pixelify Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

/*--- Контроль треку ---*/
/* кнопки перемикання */
.next-last-buttons {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.nl-button {
    display: flex;
    width: 46px;
    height: 34px;
    padding: 23px 49px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4),inset 0px 2px 5px 0px rgba(255, 255, 255, 0.25),inset 0px -2px 5px 0px rgba(0, 0, 0, 0.25);
    background: rgba(63, 62, 57, 1);
}

.previous {
    justify-content: center;
}

/* екран треку */
.song-control .screen {
    width: 350px;
    height: 68px;
    padding: 20px;
}

.artist-song {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.song-time {
    padding-top: 10px;
}


/*--- Кнопки відтворення ---*/
.play-stop-buttons {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.ps-button {
    width: 34px;
    height: 34px;
    padding: 23px;
    border-radius: 20px;
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.25),inset 0px 2px 5px 0px rgba(255, 255, 255, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    background: rgba(63, 62, 57, 1);
}

.play {
    width: 42px;
    height: 42px;
    padding: 19px 20px 19px 18px;
}

/* --- Колонки та плеєр ---*/
.playlist-speakers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6%;
}

/* колонки */
.speaker, .speaker-border, .speaker-lattice, .speaker-lattice-second, .speaker-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker-border {
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    box-shadow: inset -18px -21px 5px 0px rgba(0, 0, 0, 0.25),inset 0px 2px 5px 0px rgba(255, 255, 255, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    background: rgba(63, 62, 57, 1);
}

.speaker-lattice {
    width: 338px;
    height: 338px;
    border-radius: 1000px;
    box-shadow: inset 18px 21px 34.400001525878906px 0px rgba(0, 0, 0, 0.25),inset -3px -5px 15px 0px rgba(140, 140, 140, 0.25);
    background: rgba(53, 52, 46, 1);
    background-image: url('img/pattern.svg');
}

.speaker-center {
    width: 120px;
    height: 120px;
    border-radius: 1000px;
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.25),inset -2px -2px 8px 0px rgba(246, 246, 246, 0.07),7px 6px 20.600000381469727px 0px rgba(0, 0, 0, 0.35),inset 21px 18px 32.400001525878906px 0px rgba(246, 246, 246, 0.15),inset -21px -18px 32.400001525878906px 0px rgba(0, 0, 0, 0.25);
    background: rgba(32, 32, 30, 1);
}

/* плеєр */
.playlist {
    position: relative;
    width: 420px;
    height: 284px;
}

.cassette img {
    position: absolute;
    width: 420px;
    height: 284px;
    z-index: 1;
}

.playlist-img {
    position: absolute;
    width: 420px;
    height: 284px;
    /*  background: rgba(50, 49, 45, 0.35);*/
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2),inset 0px -10px 30px 6px rgba(0, 0, 0, 0.2),inset 0px -2px 10px 0px rgba(0, 0, 0, 0.25),inset 0px 2px 20px 0px rgba(255, 255, 255, 0.25);
    z-index: 2;
}





